/*
 *  About page
 */

#about {
	a { float: none; }
	h2 {
		.icon-users { margin-right: 0.5em; }
	}
	.member-container {
		@border-color: darken(@white-color,8%);
		margin: -@gutter-width -@gutter-width 0;
		display: table;
		.member-row {
			display: table-row;
			&:last-of-type {
				.member { border-bottom: 0; }
			}
		}
		.member {
			width: 25%; display: table-cell;
			padding: @gutter-width * 4 / 3 @gutter-width @gutter-width / 2;
			text-align: center;
			border-bottom: 1px @border-color dotted;
			border-right: 1px @border-color dotted;
			img {
				width: 100% * 5 / 9; display: block;
				background-color: @white-color;
				border-radius: 7px;
				margin: 0 auto @gutter-width / 3;
			}
			h3 {
				font-size: 1em; line-height: 1.4em;
				margin-bottom: 0.2em;
			}
			p { font-size: 0.9em; line-height: 1.4em; }
			&:nth-child(4n) { border-right: 0; }
		}
	}
	.investor {
		.cf;
		margin: 0 -@gutter-width;
		padding-bottom: @gutter-width;
		border-bottom: 1px darken(@white-color,8%) dotted;
		.pic {
			float: left; width: 25%;
			padding: 0 @gutter-width;
			img {
				display: block; width: 100%;
				border-radius: 7px;
				border: 1px darken(@white-color,8%) solid;
			}
		}
		.description {
			float: left; width: 75%;
			padding: 0 @gutter-width;
			h3 {
				font-size: 1.3em;
				line-height: 1.3em;
				border-bottom: 1px darken(@white-color,8%) dotted;
				padding: 0 0 0.4em;
				margin-bottom: 0.4em;
			}
		}
		&:last-of-type {
			border-bottom: 0; padding-bottom: 0;
		}
	}
}