/*
 *  AdStack
 *  Public Site
 *  Author: Dali Zheng
 */

* { margin: 0; padding: 0; border: 0; .box-sizing; }

@import "grid.less";
@import "type.less";
@import "content.less";
@import "mixins.less";
@import "assets.less";
@import "fonts.less";
//@import "header.less";


#header {
	background-color: #151515;
	overflow: hidden;
	.row {
		&:first-of-type { padding: 2em 0 0; }
		&:last-of-type { padding: 0 0 8.6em; text-align: center; }
		.col-2 { width: 100% / 5; }
	}
	h1 {
		color: rgba(255,255,255,0.9); letter-spacing: -0.04em;
		font-size: 3em; padding-bottom: 0.4em; line-height: 1.3em;
		.button {
			position: absolute; top: 1em; right: @gutter-width;
			font-size: @body-size; letter-spacing: 0; font-weight: normal;
			font-size: @body-size - 1px;
			&.clear { right: 8.1em; }
			&.yellow {
				border: 1px #ebdc4f solid; color: #ebdc4f; background: none;
				i { margin-right: 0.5em; }
			}
		}
	}
	h2 {
		color: rgba(255,255,255,0.9); letter-spacing: -0.02em;
		margin: 1.9em @gutter-width 0.7em; font-size: 4em; line-height: 1.2em;
	}
	.cta {
		margin: 0 @gutter-width; font-size: 1.6em; line-height: 2.3em;
		font-weight: normal; text-transform: uppercase;
		border-radius: 4px; padding: 0 0.9em;
		i { margin-left: 0.7em; }
	}
	hr {
		.clear;
		height: 7px; margin: 0 @gutter-width 1.6em;
		background-color: rgba(255,255,255,0.1);
	}
	.col-2 a {
		color: rgba(255,255,255,0.9);
		display: block; font-weight: bold;
		padding-bottom: 0.7em;
		border-bottom: 1px rgba(255,255,255,0.2) solid;
		&:before {
			color: rgba(255,255,255,0.3);
			display: block; line-height: 1.3em;
			content: "\2014"; font-weight: normal;
		}
	}
	.line-container {
		position: absolute; bottom: -20px; left: 42%;
		.line {
			position: absolute; bottom: 0; left: 0;
			width: 1px; height: 1000px;
			.linear-gradient(rgba(255,255,255,0.09),rgba(255,255,255,0));
		}
		&.x {
			.rotation(52deg);
			.line { .transform-origin(0 100%); }
		}
		&.y {
			bottom: -190px; left: 100%;
			.rotation(6deg);
			.line { .transform-origin(0 0%); }
		}
		@deg: 3deg;
		@iterations: 10;
		.loop(@index) when (@index > 0) {
			(~"> div:nth-of-type(@{index})") { .rotation(@deg * @index); }
			.loop(@index - 1);
		}
		.loop(0) {}
		.loop(@iterations);
	}
}

#subheader {
	text-align: center;
	.row {
		padding: 2.6em 0 2.9em;
	}
	i {
		color: lighten(@body-color,66%); font-size: 4em;
	}
	h3 {
		font-weight: normal; font-size: 1.5em;
		margin: 1.1em 0 0.2em;
	}
	p {
		color: lighten(@body-color,32%);
		&:before {
			content: "\2014"; display: block;
			color: lighten(@body-color,45%);
		}
	}
}

#home {
	background-color: #fff;
	.row {
		height: 600px;
	}
}