/*
 *  AdStack
 *  Public Site
 *  Contributors: Dali Zheng
 */

// colors
@body-color: #222;
@bg-color: #222;
@yellow-color: #efe056;
@blue-color: #5b9ece;
@green-color: #68b952;
@red-color: #ce615b;
@black-color: #151515;
@white-color: #f0eeed;

// grid
@max-width: 1200px;
@tablet-width: 1080px;
@mobile-width: 620px;
@gutter-width: 1em;
@columns: 12;
@body-size: 17px;

// minimal reset
* {
	.box-sizing;
	margin: 0; padding: 0; border: 0;
}

// basics
@import "mixins.less";
@import "grid.less";
@import "type.less";
@import "assets.less";
@import "fonts.less";

// general layout
@import "header.less";
@import "footer.less";
@import "content.less";
@import "modal.less";
@import "tooltip.less";

// pages
@import "home.less";
@import "pricing.less";
@import "contact.less";
@import "legal.less";
@import "about.less";
@import "careers.less";
@import "thanks.less";
@import "blog.less";
@import "services.less";

// products
@import "emaildsp.less";
@import "liveoptimizer.less";
@import "liveshots.less";
@import "countdowntimer.less";

// mobile layouts
@import "tablet.less";
@import "mobile.less";