html,body{background-color:#222222;color:#222222;}
.button{line-height:2em;padding:0 0.8em;border-radius:3px;border-top:1px rgba(255, 255, 255, 0.2) solid;font-weight:bold;display:inline-block;}.button.blue{background-color:#4a5eca;color:#fff;}
.button.yellow{background-color:#ebdc4f;color:#151515;}
.button.clear{border-top-color:transparent;}
