/*
 *  Basic styles
 */

@body-color: #222;
@bg-color: #222;
@yellow-color: #efe056;
@blue-color: #5b9ece;
@green-color: #68b952;
@red-color: #ce615b;
@black-color: #151515;
@white-color: #f0f0f0;

body {
	background-color: @white-color;
	color: @body-color;
	overflow-x: hidden;
	&.light {
		background-color: @white-color;
		#header {
			background-color: transparent;
			.button { color: lighten(@body-color, 15%); }
		}
		#footer {
			h3 {
				color: lighten(@black-color, 20%);
				border-top-color: darken(@white-color, 15%);
				&:after { color: darken(@white-color, 20%); }
			}
			a:hover { color: @body-color; }
		}
	}
	&.dark {
		background-color: desaturate(darken(@blue-color, 44%), 42%);
		#header {
			background-color: #fff;
			.button { color: @body-color; }
		}
		#subheader {
			background-color: #fff;
			h1 {
				color: desaturate(darken(@blue-color, 34%), 44%);
				font-size: 2.4em; line-height: 1.4em;
				letter-spacing: -0.02em;
			}
		}
	}
}
a:hover { outline: none; }

.button {
	line-height: 2em; padding: 0 0.8em; border-radius: 3px;
	border: 1px transparent solid; cursor: pointer;
	font-weight: bold; display: inline-block;
	&.blue {
		border: 1px rgba(0, 0, 0, 0.1) solid;
		border-top-color: rgba(0, 0, 0, 0.05);
		border-bottom-color: rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
		background-color: @blue-color; color: #fff;
	}
	&.light-green {
		background-color: lighten(@green-color, 32%);
		border-bottom-color: desaturate(lighten(@green-color, 26%), 18%);
		border-width: 2px;
		color: desaturate(darken(@green-color, 20%), 24%);
		&:hover { background-color: lighten(@green-color, 34%); }
	}
	&.green {
		background-color: saturate(lighten(@green-color, 10%), 4%);
		border-bottom-color: lighten(@green-color, 2%);
		border-width: 2px;
		color: #fff;
		&:hover { background-color: saturate(lighten(@green-color, 13%), 4%); }
	}
	&.dark-green {
		background-color: desaturate(darken(@green-color, 4%), 18%);
		border-bottom-color: desaturate(darken(@green-color, 16%), 18%);
		border-width: 2px;
		color: desaturate(lighten(@green-color, 32%), 8%);
		&:hover { background-color: desaturate(@green-color, 18%); }
	}
	&.grey {
		border: 1px rgba(0, 0, 0, 0.1) solid;
		border-top-color: rgba(0, 0, 0, 0.05);
		border-bottom-color: rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px 0 #fff; text-shadow: 0 1px 0 #fff;
		background-color: darken(#fff, 8%);
		.linear-gradient(darken(#fff, 12%),darken(#fff, 2%));
	}
	&.clear {
		color: rgba(0,0,0,0.36);
		border: 2px rgba(0, 0, 0, 0.08) solid;
		&:hover { color: rgba(0,0,0,0.42); border-color: rgba(0, 0, 0, 0.12); }
	}
}

#subheader {
	h1 {
		.alt-font; font-weight: normal; letter-spacing: -0.03em;
		font-size: 3em; line-height: 1.3em;
		text-align: center; margin: 0.64em 0 0.04em;
		color: lighten(@body-color, 22%);
	}
	.fleuron {
		margin: 0 0 0.82em;
	}
}

.fleuron {
	overflow: hidden; opacity: 0.16;
	height: 3.2em; position: relative;
	& > div {
		position: absolute; top: 50%; left: 50%;
		@spacing: 3.2em;
		&:before, &:after {
			content: " "; display: block;
			position: absolute; top: -2px; left: @spacing;
			width: 800px; height: 2px;
			border: 1px @black-color solid;
			border-left: 0; border-right: 0;
		}
		&:after {
			left: auto; right: @spacing;
		}
	}
}

#product-subfeatures, #pricing-cta {
	.arrow {
		.no-select;
		cursor: default;
		//display: inline-block;
		display: none;
		font-size: 8em;
		line-height: 0;
		position: relative;
		top: 0.19em; left: -0.08em;
		color: rgba(0, 0, 0, 0.06);
		margin: 0 0.3em;
		letter-spacing: -0.14em;
	}
}