/*
 *  Basic styles
 */

@body-color: #222;
@bg-color: #222;
@yellow-color: #efe056;
@blue-color: #5b9ece;
@green-color: #68b952;
@red-color: #ce615b;
@black-color: #151515;
@white-color: #f0f0f0;

body {
	background-color: @white-color;
	color: @body-color;
	overflow-x: hidden;
	&.light {
		background-color: @white-color;
		#logo { opacity: 0.7; }
		#header {
			background-color: transparent;
			.button { color: lighten(@body-color,15%); }
		}
		#footer {
			h3 {
				color: lighten(@black-color,20%);
				border-top-color: darken(@white-color,15%);
				&:after { color: darken(@white-color,20%); }
			}
			a:hover { color: @body-color; }
		}
	}
	&.dark {
		background-color: @bg-color;
		#header {
			background-color: #fff;
			.button { color: @body-color; }
		}
		#subheader {
			background-color: #fff;
			h1 {
				color: @body-color;
				font-size: 2.4em; line-height: 1.4em;
				letter-spacing: -0.02em;
			}
		}
	}
	&.inverted {
		background-color: lighten(@bg-color,5%);
		#logo { opacity: 0.8; }
		#header {
			background-color: transparent;
			.button {
				color: rgba(255,255,255,0.6);
				&.login { border-color: rgba(255,255,255,0.16); }
			}
			.nav {
				.col-2 > a, .link {
					color: rgba(255,255,255,0.8);
					border-color: rgba(255,255,255,0.16);
					&:hover {
						color: #fff;
						border-color: rgba(255,255,255,0.32);
						i { color: #fff; }
						&:before { color: rgba(255,255,255,0.4); }
					}
					&:before { color: rgba(255,255,255,0.2); }
				}
				i { color: rgba(255,255,255,0.7); }
			}
		}
		#subheader {
			h1 { color: rgba(255,255,255,0.8); }
			.fleuron {
				& > div:before, & > div:after { border-color: #fff; }
			}
		}
		#footer {
			color: rgba(255,255,255,0.4);
			h3 {
				color: rgba(255,255,255,0.8);
				border-top-color: rgba(255,255,255,0.16);
				&:after { color: rgba(255,255,255,0.2); }
			}
			a {
				color: rgba(255,255,255,0.6);
				&:hover { color: #fff; }
			}
		}
	}
	&.blue {
		background-color: @blue-color;
	}
}
a:hover { outline: none; }

.button {
	line-height: 2em; padding: 0 0.8em; border-radius: 3px;
	border: 1px transparent solid; cursor: pointer;
	font-weight: bold; display: inline-block;
	&.blue {
		border: 1px rgba(0,0,0,0.1) solid;
		border-top-color: rgba(0,0,0,0.05);
		border-bottom-color: rgba(0,0,0,0.2);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
		text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
		background-color: @blue-color; color: #fff;
	}
	&.yellow {
		border-bottom-color: rgba(0,0,0,0.12);
		border-width: 2px;
		background-color: @yellow-color; color: #151515;
	}
	&.grey {
		border: 1px rgba(0,0,0,0.1) solid;
		border-top-color: rgba(0,0,0,0.05);
		border-bottom-color: rgba(0,0,0,0.2);
		box-shadow: inset 0 1px 0 #fff; text-shadow: 0 1px 0 #fff;
		background-color: darken(#fff,8%);
		.linear-gradient(darken(#fff,12%),darken(#fff,2%));
	}
	&.clear {
	}
}

#subheader {
	h1 {
		.alt-font; font-weight: normal; letter-spacing: -0.03em;
		font-size: 3em; line-height: 1.3em;
		text-align: center; margin: 0.48em 0 0;
		color: lighten(@body-color,30%);
	}
	.fleuron {
		margin: 0.2em 0 0.8em;
	}
	&.product {
		padding-top: 2.2em;
		background-color: lighten(@blue-color,38%) !important;
		h3 {
			text-align: center;
			font-weight: normal; font-size: 1.1em;
			line-height: 1.5em;
			color: lighten(@body-color,40%);
			margin: 0.5em auto 0;
			width: 100% * 2 / 3;
		}
	}
}

.fleuron {
	overflow: hidden; opacity: 0.16;
	height: 80px; position: relative;
	& > div {
		position: absolute; top: 50%; left: 50%;
		@spacing: 82px;
		&:before, &:after {
			content: " "; display: block;
			position: absolute; top: -2px; left: @spacing;
			width: 800px; height: 2px;
			border: 1px @black-color solid;
			border-left: 0; border-right: 0;
		}
		&:after {
			left: auto; right: @spacing;
		}
	}
}