.row{max-width:1200px;min-width:960px;margin:auto;}
[class^="col-"]{float:left;position:relative;padding:0 20px;}[class^="col-"][class$="1"]{width:8.333333333333334%;}
[class^="col-"][class$="2"]{width:16.666666666666668%;}
[class^="col-"][class$="3"]{width:25%;}
[class^="col-"][class$="4"]{width:33.333333333333336%;}
[class^="col-"][class$="5"]{width:41.66666666666667%;}
[class^="col-"][class$="6"]{width:50%;}
[class^="col-"][class$="7"]{width:58.333333333333336%;}
[class^="col-"][class$="8"]{width:66.66666666666667%;}
[class^="col-"][class$="9"]{width:75%;}
[class^="col-"][class$="10"]{width:83.33333333333334%;}
[class^="col-"][class$="11"]{width:91.66666666666667%;}
[class^="col-"][class$="12"]{width:100%;}
