/*
 *  Grid System
 */

.row {
	.cf; position: relative; margin: auto;
	max-width: @max-width;
}

[class^="col-"] {
	float: left; position: relative;
	padding: 0 @gutter-width;
	min-height: 1px;
}

.grid(@index) when (@index > 0) {
	.col-@{index} { width: ( 100% / @columns ) * @index; }
	.grid(@index - 1);
}
.grid(@columns);
