/**
 *  Header
 */
#header {
	background-color: #fff;
	.row {
		padding-top: 0.76em;
	}
	h1 {
		letter-spacing: -0.02em;
		font-size: 2.8em; padding-bottom: 0.2em; line-height: 1.28em;
		.button {
			position: absolute; top: 0.62em; right: @gutter-width;
			font-size: @body-size; letter-spacing: 0; font-weight: normal;
			font-size: @body-size - 1px; line-height: 2.3em;
			&.clear {
				&:hover { color: darken(@blue-color,10%); }
			}
			&.signup {
				border: 2px transparent solid;
				right: 8.1em;
				//color: darken(@blue-color, 2%) !important;
			}
			&.login {
				border: 2px rgba(0,0,0,0.1) solid;
				border-radius: 0.5em;
				border-color: desaturate(lighten(@blue-color, 28%), 16%);
				//color: darken(@blue-color, 2%) !important;
				i {
					margin-right: 0.5em; position: relative; top: 0.08em;
					//color: desaturate(lighten(@blue-color, 24%), 16%);
				}
			}
		}
	}
	hr {
		.clear; opacity: 0.2;
		height: 7px; margin: 0 @gutter-width;
	}
	.nav {
		margin-top: 0.3em;
		.col-2 > a, .link {
			@link-color: darken(@blue-color, 2%);
			font-weight: bold;
			color: @link-color;
			display: block; cursor: pointer;
			padding-bottom: 0.7em; margin-bottom: 1.1em;
			border-bottom: 1px lighten(@black-color,70%) solid;
			&:hover {
				border-bottom-color: darken(@blue-color,2%);
				i { color: @link-color; }
				&:before { color: darken(@blue-color,2%); }
			}
			&:before {
				color: lighten(@black-color,60%);
				display: block; line-height: 1.3em;
				content: "\2014"; font-weight: normal;
			}
			&.current {
				color: lighten(@body-color, 20%);
				border-bottom-color: lighten(@body-color, 50%);
				&:before { color: lighten(@body-color, 50%); }
				&:hover {
					border-bottom-color: lighten(@body-color, 40%);
					&:before { color: lighten(@body-color, 40%); }
				}
			}
		}
		.link a { display: none; }
		i {
			float: right; font-size: 1.5em;
			position: relative; top: 0.06em;
			color: lighten(@black-color,50%);
			&:before { content: "\e017"; }
		}
		.dropdown {
			&.open {
				@padding: 8px;
				cursor: default;
				position: relative; z-index: 10; 
				padding-left: @padding; padding-right: @padding;
				margin-left: -@padding; margin-right: -@padding;
				border-bottom: 0; margin-bottom: -10em;
				background-color: rgba(0,0,0,0.88);
				border-radius: 3px; padding-bottom: @padding;
				color: @white-color;
				i {
					color: darken(@white-color,18%);
					&:before { content: "\e018"; }
				}
				a {
					display: block; font-weight: normal;
					padding: 0.76em 0; border-bottom: 1px rgba(255,255,255,0.15) solid;
					font-size: @body-size - 2px;
					&:first-of-type { margin-top: 0.72em; border-top: 1px lighten(@black-color,50%) solid; }
					&:hover { color: @yellow-color; }
				}
				&:before { color: lighten(@black-color,55%); }
			}
		}
	}
	&.home {
		border-bottom: 0.2em lighten(desaturate(@blue-color, 16%), 32%) solid;
		.row {
			padding-bottom: 0.2em;
		}
	}
}

#logo {
	display: inline-block;
	color: transparent;
	min-width: 4.6em;
}

body.no-svg {
	#logo {
		background-image: none; color: lighten(@black-color, 16%);
	}
}