/*
 *  Header
 */

#header {
	background-color: #fff;
	border-top: 3px @yellow-color solid;
	.row {
		padding-top: 1.3em;
	}
	h1 {
		color: @black-color; letter-spacing: -0.02em;
		font-size: 3em; padding-bottom: 0.4em; line-height: 1.3em;
		.button {
			position: absolute; top: 0.9em; right: @gutter-width;
			font-size: @body-size; letter-spacing: 0; font-weight: normal;
			font-size: @body-size - 1px; line-height: 2.3em;
			&.clear {
				right: 8.1em;
			}
			&.yellow {
				border: 1px lighten(@black-color,80%) solid; color: @black-color; background: none;
				i { margin-right: 0.5em; position: relative; top: 0.08em; }
				&:hover { border-color: @yellow-color; }
			}
		}
	}
	hr {
		.clear; opacity: 0.2;
		height: 7px; margin: 0 @gutter-width;
	}
	.nav {
		margin-top: 0.6em;
		a {
			color: @black-color;
			display: block; font-weight: bold;
			padding-bottom: 0.7em; margin-bottom: 1.1em;
			border-bottom: 1px lighten(@black-color,70%) solid;
			&:hover { border-bottom-color: @yellow-color; }
			&:before {
				color: lighten(@black-color,60%);
				display: block; line-height: 1.3em;
				content: "\2014"; font-weight: normal;
			}
		}
	}
}

#logo {
	display: inline-block; padding: 0 0.5em 0 0;
	color: transparent;
}