/*
 *  Home
 */

#feature {
	background-color: lighten(@blue-color, 4%);
	overflow: hidden;
	.row {
		padding-bottom: 6.8em;
	}
	h2 {
		.alt-font;
		font-weight: normal;
		color: #fff;
		letter-spacing: -0.03em;
		margin: 1.8em 0 0.52em; font-size: 3.4em; line-height: 1.3em;
		position: relative; z-index: 3;
	}
	.cta {
		font-size: 1.3em; line-height: 2.3em;
		font-weight: normal; text-transform: uppercase;
		border-radius: 5px; padding: 0 0.7em;
		position: relative; z-index: 3;
		letter-spacing: 0.03em; margin-right: 0.4em;
		i { margin-left: 0.5em; position: relative; top: 0.12em; }
		&.clear {
			color: rgba(0,0,0,0.3);
		}
	}
}

#icon-collage {
	position: absolute; right: @gutter-width; bottom: -0.8em;
	font-size: 1.17em; pointer-events: none;
	i {
		position: absolute;
		color: rgba(0,0,0,0.08);
	}
	.icon-camera { top: -1.3em; right: 0; font-size: 7em; }
	.icon-pig { top: -2.87em; right: 0; font-size: 5em; .rotation(-90deg); }
	.icon-presentation { top: -4.6em; right: 0; font-size: 4em; }
	.icon-phone { top: -3.94em; right: 0; font-size: 6em; .rotation(-90deg); }
	.icon-monitor { top: -1.82em; right: 0.42em; font-size: 10.6em; }
	.icon-target-2 { top: -7.38em; right: 2.12em; font-size: 3em; }
	.icon-atom { font-size: 8.2em; right: 0.88em; top: -1.17em; }
	.icon-equalizer { font-size: 5.2em; right: 2.92em; top: -1.3em; .rotation(-90deg); }
	.icon-cart { font-size: 5em; right: 3em; top: -2.34em; .rotation(-90deg); }
	.icon-flow-branch { font-size: 4.8em; right: 3.14em; top: -3.44em; .rotation(-90deg); }
	.icon-envelope-3 { font-size: 4em; right: 5.12em; top: -1.54em; .rotation(-90deg); }
	.icon-target { font-size: 3.1em; right: 6.76em; top: -3.28em; }
	.icon-pictures { font-size: 5em; right: 5.04em; top: -1.48em; }
	.icon-eye { font-size: 3em; right: 10.4em; top: -1.78em; .rotation(-90deg); }
	.icon-envelope-2 { font-size: 2.2em; right: 15.84em; top: -2.06em; }
}

#subfooter {
	background-color: desaturate(darken(@blue-color, 34%), 34%);
	[class^="col-"] { margin-bottom: 3.6em; }
	hr {
		height: 7px; opacity: 0.15;
		margin-bottom: 2.4em;
	}
	i {
		vertical-align: middle; margin: 0 0.4em 0 0.03em;
		opacity: 0.4; font-size: 1.4em;
	}
	h3 {
		.cutoff;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		font-weight: normal; font-size: 1.25em;
		margin: 0 0 0.2em; color: #fff;
		padding: 0.1em;
	}
	p {
		font-size: 1.12em; line-height: 1.5em;
		color: rgba(255,255,255,0.5);
		padding-top: 1em; margin-top: 1em;
		border-top: 1px rgba(255,255,255,0.2) solid;
	}
}
#subsubfooter {
	@bg: desaturate(darken(@blue-color, 44%), 42%);
	background-color: @bg;
	padding-top: 2.5em;
	[class^="col-"] { margin-bottom: 3.3em; }
	h4 {
		.clear; .alt-font;
		height: 4px; border: 1px rgba(255,255,255,0.2) solid;
		border-left: 0; border-right: 0;
		text-align: center; font-size: 0.9em;
		font-weight: normal;
		text-transform: uppercase; letter-spacing: 0.04em;
		color: rgba(255,255,255,0.54);
		margin: 0 @gutter-width;
		span {
			background-color: @bg;
			position: relative; top: -0.8em;
			padding: 0 0.7em;
		}
	}
	.logos {
		.cf;
		& > div {
			margin-top: 1.76em;
			&:nth-child(1) img { top: 0.68em; }
			&:nth-child(2) img { width: 70%; }
			&:nth-child(3) img { top: 0.58em; }
			&:nth-child(4) img { top: 0.16em; width: 58%; }
			&:nth-child(5) img { top: 0.46em; width: 66%; }
			&:nth-child(6) img { top: 0.44em; }
		}
		img {
			display: block; width: 100%;
			position: relative; margin: auto;
			opacity: 0.4;
		}
	}
}