/*
 *  Mobile layout
 */

@media only screen and (max-width: 799px) {
	.row { min-width: 320px; }

	// content
	#header {
		border-top: 0;
		border-bottom: 1px #ddd solid;
		.button.clear { display: none; }
		.nav { display: none; }
		.row { padding-top: 0.8em; }
		h1 {
			font-size: 2.2em;
			margin-bottom: -0.12em;
			.button { top: 0.18em; }
		}
		hr { display: none; }
	}
	#subfooter {
		.col-4 {
			margin-top: @gutter-width;
			width: 100%;
		}
		hr {
			margin-bottom: 0.8em;
		}
		h3 {
			font-size: 1.4em;
		}
		p {
			margin-top: 0.6em;
			border: none; padding-top: 0;
		}
		.row { padding-bottom: @gutter-width; }
	}
	#footer {
		.col-2 {
			width: 100% / 2;
			margin-bottom: @gutter-width;
			&.product { display: none; }
			&:nth-child(2n) { padding-left: @gutter-width / 2; }
			&:nth-child(2n-1) { padding-right: @gutter-width / 2; }
		}
		.row { padding-bottom: 0; }
		h3 {
			padding-bottom: 0.26em;
			&:after { display: none; }
		}
		ul {
			li {
				a:first-of-type:before {
					content: "\2014"; margin-right: 0.6em;
					float: left;
					color: lighten(@bg-color,30%);
				}
			}
		}
	}
	#subheader {
		h1 {
			font-size: 2em;
		}
	}
	.fleuron {
		height: 60px;
		background-size: auto 100%;
		& > div {
			@spacing: 50px;
			&:before { left: @spacing; }
			&:after { right: @spacing; }
		}
	}

	// home
	#icon-collage {
		bottom: -1.4em; font-size: 1.07em;
		.icon-presentation { right: 5.08em; top: -3.66em; }
		.icon-phone { right: 4.06em; top: -2.1em; }
		.icon-target-2 { font-size: 5em; right: 5em; top: -3.44em; }
		.icon-envelope-2 { font-size: 6.2em; right: 5.04em; top: -2.06em; }
	}
	#feature {
		text-align: center;
		.row { padding-bottom: 3em; }
		h2 {
			margin-top: 1.2em; font-size: 1.9em;
			br { display: none; }
		}
		.cta {
			font-size: 1.2em;
		}
	}

	// pricing
	#pricing-label {
		.row { border-radius: 0; }
		h2 {
			font-size: 0.8em; padding: 1.3em 0 1.2em;
			border-bottom-width: 5px;
		}
		.label h2 {
			text-align: center; padding-left: 0;
		}
	}
	#pricing {
		font-size: 0.8em; margin-bottom: 1em;
		[class^="col-"] {
			&.label {
				padding-left: 0;
				text-align: center;

			}
		}
		.row:last-of-type { border-radius: 0; }
	}
	#pricing-cta {
		margin: 2em 0 1em;
		.button { font-size: 1em; }
	}

	// contact
	#about, #contact {
		border-top: 1px darken(@white-color,8%) solid;
		[class^="col-"] {
			width: 100%; border: 0; float: left;
			border-bottom: 1px darken(@white-color,8%) solid;
			padding-bottom: @gutter-width;
		}
		h2 {
			border-bottom: 0; margin-bottom: 0;
			padding-bottom: @gutter-width / 2;
		}
	}
	#map {
		.row {
			border-radius: 0;
			border-top: 0; border-bottom-width: 1px;
		}
		margin-bottom: 0.8em;
	}
	#gmap {
		height: 220px;
	}

	// about
	#about {
		margin-bottom: 0.7em;
		.member-container {
			border-top: 1px darken(@white-color,8%) dotted;
			margin: @gutter-width / 2 -@gutter-width -@gutter-width * 2;
			.member {
				padding-left: @gutter-width / 4; padding-right: @gutter-width / 4;
				p { font-size: 0.82em; }
			}
		}
		[class^="col-"]:nth-of-type(2) {
			background-color: #fff;
			h2 {
				margin-top: @gutter-width;
				color: @body-color;
				&:first-of-type { margin-top: 0; }
			}
			p { color: lighten(@body-color,25%); }
		}
		.row {
			border-radius: 0;
			border-bottom-width: 0;
		}
		.investor {
			padding-top: @gutter-width / 2;
			.description {
				float: none; width: 100%;
			}
		}
	}

	// terms
	#terms {
		text-align: left;
	}

}