/*
 *  Mobile layout
 */

@media only screen and (max-width: @mobile-width) {
	.row { min-width: 320px; }
	body.light {
		#logo { opacity: 1; }
		#header .button { color: @body-color; }
	}

	// content
	body.light, body.dark {
		#header { background-color: #fff !important; }
	}
	body.inverted {
		#header { border-bottom-color: rgba(255,255,255,0.16); }
	}
	#header {
		border-bottom: 1px #ddd solid;
		.button.login { display: none; }
		.nav { display: none; }
		.row {
			padding-top: 0.8em;
		}
		h1 {
			margin-bottom: 0.18em;
			.button.login {
				top: 0.78em;
				border: 0; padding-right: 0;
			}
		}
		hr { display: none; }
		&.home {
			.row { padding-bottom: 0.1em; }
		}
	}
	#subfooter {
		[class^="col-"] {
			width: 100%;
			margin-bottom: 2.2em;
		}
		hr {
			margin-bottom: 1.1em;
		}
		h3 {
			font-size: 1.4em;
		}
		p {padding-top: 0.8em;
		}
	}
	#footer {
		.clear { display: block; }
		.col-2 {
			width: 100% / 2;
			margin-bottom: @gutter-width;
			&:nth-of-type(2n) { padding-left: @gutter-width / 2; }
			&:nth-of-type(2n-1) { padding-right: @gutter-width / 2; }
		}
		.row {
			padding-bottom: 0;
		}
		h3 {
			padding-bottom: 0.26em;
			&:after { display: none; }
		}
		ul {
			li {
				a:first-of-type:before {
					content: "\2014"; margin-right: 0.6em;
					float: left;
					color: lighten(@bg-color,30%);
				}
			}
		}
	}
	#subheader {
		h1 {
			font-size: 2em;
			margin: 1.2em 0 0.2em;
		}
		.fleuron {
			margin: -0.4em 0 0.2em;
		}
		&.product {
			h1, h3 { text-align: center; }
			h1 { font-size: 1.8em !important; }
			h3 { width: 100%; }
		}
		&.product:not(.liveshots):not(.countdown-timer) {
			padding-top: 0;
			.button { display: none; }
		}
	}
	
	.fleuron {
		background-size: auto 160%;
		& > div {
			@spacing: 3em;
			&:before { left: @spacing; }
			&:after { right: @spacing; }
		}
	}
	

	// home
	#feature {
		text-align: center;
		.row {

			// it's being problematic
			background-image: none;

			background-size: auto 170%;
			background-position: right -1.9em;
			& > div { margin-bottom: 2.7em; }
		}
		[class^="col-"] { padding: 0 @gutter-width / 2; }
		h2 {
			margin-top: 1.2em; font-size: 1.7em;
			br { display: none; }
		}
		ul {
			margin: 0 0 1.1em;
			list-style-type: none;
		}
		.cta {
			font-size: 1.2em;
			&.clear { display: none; }
		}
	}
	#subsubfooter {
		padding-bottom: 2.6em;
		.logos {
			& > div { width: 50%; margin-bottom: 0.8em; }
		}
	}

	// pricing
	#pricing-label {
		h2 {
			font-size: 0.8em; padding: 1em 0 0.9em;
			border-bottom-width: 3px;
		}
		.label h2 {
			text-align: center; padding-left: 0;
		}
	}
	#pricing {
		font-size: 0.8em; margin-bottom: 1em;
		[class^="col-"] {
			&.label {
				padding-left: 0;
				text-align: center;

			}
		}
	}
	#pricing-cta {
		margin: 2em 0 1em;
		.button { font-size: 1.2em; }
	}

	// contact
	#about, #contact, #careers {
		border-top: 1px darken(@white-color,8%) solid;
		[class^="col-"] {
			width: 100%; border: 0; display: block;
			border-bottom: 1px darken(@white-color,8%) solid;
			padding-bottom: @gutter-width;
		}
		h2 {
			border-bottom: 0; margin-bottom: 0;
			padding-bottom: @gutter-width / 2;
		}
	}
	#map {
		.row {
			border-top: 0; border-bottom-width: 2px;
		}
		margin-bottom: 0.8em;
	}
	#gmap {
		height: 220px;
	}

	// about
	#about, #careers {
		margin-bottom: 0.7em;
		h2 { border-top-style: solid; }
		.member-container {
			border-top: 1px darken(@white-color,8%) dotted;
			display: block; width: auto;
			margin: @gutter-width / 2 -@gutter-width -@gutter-width;
			.member {
				padding-left: @gutter-width / 4; padding-right: @gutter-width / 4;
				p { font-size: 0.82em; }
			}
		}
		[class^="col-"]:nth-of-type(2) {
			background-color: #fff;
			h2 {
				margin-top: @gutter-width;
				color: @body-color;
				&:first-of-type { margin-top: 0; }
			}
			p { color: lighten(@body-color,25%); }
		}
		.row {
			border-bottom-width: 1px;
		}
		.investor {
			padding-top: @gutter-width / 2;
			.description {
				float: none; width: 100%;
			}
		}
	}

	// careers
	#careers {
		[class^="col-"]:nth-of-type(1) {
			p { margin-right: 0; }
			h3 {
				margin-right: 0;
				&:first-of-type {
					border-top: 1px darken(@white-color,8%) dotted;
					padding-top: @gutter-width;
					margin-top: @gutter-width / 2;
				}
			}
		}
	}

	// services
	#services {
		.col-12 {
			padding: @gutter-width;
		}
		hr {
			height: 1.8em;
			margin-bottom: 1.6em;
		}
	}

	// legal
	#legal {
		text-align: left;
	}

	// thanks
	#thanks {
		margin: 1em 0 0.8em;
	}

	// email dsp
	#email-dsp {
		[class^="col-"] {
			&:first-of-type { width: 100%; }
			&:last-of-type { display: none; }
		}
		.box .button {
			margin: @gutter-width auto 0;
			width: 12em; display: block;
		}
	}

	// live optimizer
	#live-optimizer {
		.feature-row {
			display: block; .cf;
			.feature {
				display: block; float: left;
				width: 100%;
			}
			&.small {
				.feature {
					display: block; float: left;
					width: 100%;
					border-bottom: 1px darken(@white-color,8%) solid;
					h3 { margin-bottom: 1.6em; }
					&:last-of-type { border-bottom: 0; }
				}
			}
		}
	}
	#wall-of-text {
		[class^="col-"] {
			width: 100%;
		}
	}
	#product-images {
		.image-container .image .label { display: none; }
	}
	#how-to {
		h2 {
			padding-left: @gutter-width;
			padding-right: @gutter-width;
		}
		i {
			padding: 0;
		}
		.row:before {
			display: none;
		}
		.container {
			padding-bottom: 0.8em;
			margin-bottom: @gutter-width;
		}
		.row [class^="col-"] {
			width: 50%;
			padding: 0 @gutter-width;
			margin-bottom: 2.2em;
		}
	}
	#product-features {
		.row { padding-bottom: 0; }
		[class^="col-"] {
			width: 100%;
		}
		hr { margin-bottom: 1em; }
		p { margin-bottom: 2em; }
	}
	#product-subfeatures {
		[class^="col-"] {
			width: 100% / 2;
			margin-bottom: 0;
			padding: 0 @gutter-width 2em;
		}
	}
	#liveshots-features, #countdown-timer-features {
		h2 {
			margin-bottom: 0.4em;
			&:before { display: none; }
		}
		.col-3 {
			width: 100% / 2;
			margin-top: 3em;
		}
		.col-6 {
			width: 100%;
			margin-top: 3em;
			i {
				margin: 0 0.2em 0 0;
			}
		}
	}

	// blog
	#blog {
		margin-bottom: 0.6em;
		.row {
			display: block;
		}
		[class^="col-"] {
			display: block; float: left; width: 100%;
			&:nth-of-type(2) {
				border-top: 1px darken(@white-color,8%) solid;
			}
		}
	}

	// modal
	.signup-form, .mailto-form {
		width: 300px;
		label, input, textarea {
			font-size: @body-size - 2px; letter-spacing: 0;
		}
		label { width: 38%; }
		input { width: 62%; }
		textarea { height: 8.5em; }
		.action {
			p { display: none; }
		}
	}
}
