/*
 *  Mobile layout
 */

@media only screen and (max-width: 799px) {
	.row { min-width: 320px; }
	#icon-collage { display: none; }
	#header {
		border-top: 0;
		border-bottom: 3px @yellow-color solid;
		.button.clear { display: none; }
		.nav { display: none; }
		.row { padding-top: 0.8em; }
		h1 {
			font-size: 2.6em;
			margin-bottom: -0.12em;
			.button { top: 0.42em; }
		}
		hr { display: none; }
	}
	#feature {
		background-size: 200% auto;
		text-align: center;
		.row { padding-bottom: 2.4em; }
		h2 {
			margin-top: 0.6em; font-size: 2.6em; line-height: 1.2em;
			br { display: none; }
		}
		.cta {
			font-size: 1.2em;
		}
	}
	#subheader {
		.col-4 {
			margin-top: 2em;
			width: 100%;
		}
		hr {
			margin-bottom: 1em;
		}
		p {
			margin-top: 0.6em;
			border: none; padding-top: 0;
		}
		.row { padding-bottom: 2.2em; }
	}
	#footer {
		.col-2 {
			width: 100% / 2;
			margin-bottom: 1.5em;
		}
		.row { padding-bottom: 0; }
		h3 {
			padding-bottom: 0.26em;
			&:after { display: none; }
		}
	}
}