/*
 *  Products
 */

.product-section {
	@border-color: darken(@white-color,8%);
	color: lighten(@body-color,20%);
	margin-bottom: 2em;
	.row {
		margin-top: @gutter-width;
		overflow: hidden;
	}
	[class^="col-"] {
		&:nth-of-type(1) {
			& > h1 {
				.alt-font; font-size: 3.4em; line-height: 1.4em;
				font-weight: normal;
				color: lighten(@body-color,25%);
			}
			& > h2 {
				.alt-font; font-size: 1.52em; line-height: 1.4em;
				font-weight: normal; font-style: italic;
				color: darken(@white-color,15%);
			}
		}
	}
	.box {
		margin-top: 1.5em;
		h3 {
			color: lighten(@body-color,35%);
			font-weight: normal; font-size: 1em;
			line-height: 1.5em; padding: @gutter-width 0;
			border-bottom: 1px @border-color dotted;
			i {
				color: lighten(@body-color,70%);
				float: left; font-size: 2.6em; line-height: 1.4em;
				margin-right: 0.3em;
			}
			&:last-of-type { border-bottom: 0; }
		}
		.button {
			width: 100%; padding: 0;
			margin: @gutter-width / 2 0 0;
			font-weight: normal; font-size: 1.6em;
			text-transform: uppercase; text-align: center;
			line-height: 2.4em;
			i { position: relative; top: 0.12em; margin-left: 0.3em; }
		}
	}
	.publisher-box {
		border-radius: 5px; border-bottom: 2px @border-color solid;
		pointer-events: none; overflow: hidden;
		.publisher, .header {
			display: table; width: 100%;
			background-color: #fff; border-bottom: 1px @border-color solid;
			& > div {
				display: table-cell;
				padding: @gutter-width - 5px @gutter-width;
				border-right: 1px @border-color solid;
				&:nth-of-type(1) {
					width: 55%;
					h4 { font-weight: bold; }
				}
				&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
					width: 15%; text-align: center; padding: @gutter-width / 2;
				}
				&:last-of-type { border-right: 0; }
			}
			h4 {
				font-size: 1.1em; line-height: 1.4em; color: @body-color;
				font-weight: normal;
			}
			.button {
				position: relative; top: 0.56em; margin-top: -1em;
				font-weight: bold; line-height: 1em;
				font-size: 1.4em; padding: 0.3em 0.7em 0.4em;
			}
			&:last-of-type { border-bottom: 0; }
		}
		.header {
			.alt-font;
			& > div {
				//border-color: lighten(@black-color,18%);
			}
		}
	}
}