/*
 *  Products
 */

.product-header {
	.row {
		padding: @gutter-width 0 @gutter-width * 2;
	}
	h1 {
		.alt-font; font-size: 3.4em; line-height: 1.4em;
		font-weight: normal;
		color: lighten(@body-color,25%);
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.5em;
	}
	h2 {
		.alt-font; font-size: 1.52em; line-height: 1.4em;
		font-weight: normal; font-style: italic;
		display: inline-block;
		vertical-align: middle;
		color: darken(@white-color,15%);
	}
}

.product-section {
	@border-color: darken(@white-color,8%);
	color: lighten(@body-color,20%);
	margin-bottom: 2em;
	.row {
		display: table; width: 100%;
		border-radius: 5px; overflow: hidden;
		border-bottom: 2px @border-color solid;
	}
	[class^="col-"] {
		float: none; display: table-cell; height: 100%;
		&:nth-of-type(2) {
			background-color: darken(#fff,1%);
			border-left: 1px @border-color solid;
			h2 { color: lighten(@black-color,35%); }
		}
		&:nth-of-type(1) {
			background-color: #fff;
			padding: 0;
			h2 { margin: 0; }
		}
	}
	h2 {
		.alt-font; font-weight: normal; letter-spacing: -0.02em;
		font-size: 1.3em; line-height: 1.2em;
		padding: @gutter-width;
		margin: 0 -@gutter-width;
		color: @body-color;
		border-bottom: 1px darken(@white-color,8%) solid;
		i { margin-right: 0.6em; }
	}
	h3 {
		color: lighten(@body-color,35%);
		font-weight: normal; font-size: 1em;
		line-height: 1.5em; padding: @gutter-width 0;
		border-bottom: 1px @border-color dotted;
		i {
			color: lighten(@body-color,70%);
			float: left; font-size: 2.6em; line-height: 1.4em;
			margin-right: 0.3em;
		}
		&:last-of-type { border-bottom: 0; }
	}
	.button {
		width: 100%; padding: 0;
		margin: @gutter-width / 2 0 @gutter-width;
		font-weight: normal; font-size: 1.6em;
		text-transform: uppercase; text-align: center;
		line-height: 2.4em;
		i { position: relative; top: 0.12em; margin-left: 0.3em; }
	}
	.box-row {
		display: table; width: 100%;
		.box {
			display: table-cell; width: 25%;
			border-right: 1px @border-color dotted;
			height: 12em; padding: @gutter-width;
			text-align: center;
			i {
				font-size: 3em;
				color: lighten(@body-color,50%);
			}
			h4 {
				font-size: 1em; margin: 0.6em 0 0.4em;
				color: @body-color;
			}
			p {
				font-size: @body-size - 2px; line-height: 1.5em;
			}
			/*
			&:nth-child(1) { i,h4 { color: darken(@yellow-color,18%); } }
			&:nth-child(2) { i,h4 { color: @green-color; } }
			&:nth-child(3) { i,h4 { color: @blue-color; } }
			&:nth-child(4) { i,h4 { color: @red-color; } }
			*/
			&:last-of-type { border-right: 0; }
		}
	}
}