/*
 *  Tablet layout
 */

@media only screen and (max-width: @tablet-width) {
	.fleuron {
		& > div {
			@spacing: 3.8em;
			&:before { left: @spacing; }
			&:after { right: @spacing; }
		}
	}
	
	.row {
		min-width: @mobile-width;
	}
	#about, #careers, #contact, #pricing-label, #map, #pricing, #live-optimizer, #blog, #thanks {
		.row { border-radius: 0; }
	}
	#pricing .row:last-of-type { border-radius: 0; }
	#live-optimizer {
		.feature-row.small .feature { padding: 0 @gutter-width / 2; }
	}
}