/*
 *  Tablet layout
 */

@media only screen and (max-width:1080px) {
	html, body {
		font-size: @body-size - 2px;
		line-height: 1.5em;
	}
	#feature {
		.row { padding-bottom: 4.1em; }
		h2 { margin-top: 0.8em; }
	}
	#icon-collage {
		font-size: 0.93em;
	}
	.row {
		min-width: 760px;
	}
	#about, #careers, #contact, #pricing-label, #map, #pricing, #live-optimizer {
		.row { border-radius: 0; }
	}
	#pricing .row:last-of-type { border-radius: 0; }
	#live-optimizer {
		.feature-row .feature { padding: 0 @gutter-width / 2; }
	}
}