/*
 *  Tablet layout
 */

@media only screen and (max-width:1080px) {
	html, body {
		font-size: @body-size - 2px;
		line-height: 1.5em;
	}
	#header {
		h1 .button { top: 0.34em; }
	}

	#feature {
		.row { padding-bottom: 4.1em; }
		h2 { margin-top: 0.8em; }
	}
	#icon-collage {
		font-size: 0.91em;
	}
	.fleuron {
		& > div {
			@spacing: 4.4em;
			&:before { left: @spacing; }
			&:after { right: @spacing; }
		}
	}
	.row {
		min-width: 760px;
	}
	#about, #careers, #contact, #pricing-label, #map, #pricing, #live-optimizer, #blog {
		.row { border-radius: 0; }
	}
	#pricing .row:last-of-type { border-radius: 0; }
	#live-optimizer {
		.feature-row.small .feature { padding: 0 @gutter-width / 2; }
	}
}