/*
 *  Thanks page
 */

#thanks {
	text-align: center;
	margin: 2.6em 0 3em;
	p {
		color: lighten(@black-color,35%);
		margin-bottom: 1.5em;
	}
	a {
		color: darken(@blue-color,4%);
		&:hover { text-decoration: underline; }
	}
}