/*
 *  Typography
 */

.body-font { font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.alt-font { font-family: Georgia, "Times New Roman", serif; }

@body-size: 17px;

html, body {
	.body-font;
	font-size: @body-size;
	line-height: 1.5em;
}
a { color: inherit; text-decoration: inherit; }