<div id="footer">
	<div class="row">
		<div class="col-2">
			<h3>Products</h3>
			<ul>
				<li><a href="/products/liveoptimizer/">LiveOptimizer</a></li>
				<li><a href="/products/emaildsp/">EmailDSP</a></li>
			</ul>
		</div>
		<div class="col-2">
			<h3>Services</h3>
			<ul>
				<li><a href="/pricing-and-plans/">Pricing</a></li>
				<li><a href="http://liveoptimizer.adstack.com/api/documentation/">API</a></li>
				<li><a href="/tos/">Terms</a> / <a href="/privacy/">Privacy</a></li>
			</ul>
		</div>
		<div class="col-2 product">
			<h3>LiveOptimizer</h3>
			<ul>
				<li><a href="/products/liveoptimizer/">Optimization</a></li>
				<li><a href="/products/liveoptimizer/">Analytics</a></li>
				<li><a href="/products/liveoptimizer/">Targeting</a></li>
			</ul>
		</div>
		<div class="col-2 product">
			<h3>EmailDSP</h3>
			<ul>
				<li><a href="/products/emaildsp/">Advertisers</a></li>
				<li><a href="/products/emaildsp/">Publishers</a></li>
				<li><a href="/products/emaildsp/">Agencies</a></li>
			</ul>
		</div>
		<div class="col-2">
			<h3>Company</h3>
			<ul>
				<li><a href="/about/">About</a></li>
				<li><a href="/careers/">Careers</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</div>
		<div class="col-2">
			<h3>Social</h3>
			<ul>
				<li><a href="http://blog.adstack.com/"><i class="icon-feed"></i>Blog</a></li>
				<li><a href="http://www.twitter.com/adstackinc"><i class="icon-twitter"></i>Twitter</a></li>
				<li><a href="http://www.facebook.com/adstackinc"><i class="icon-facebook"></i>Facebook</a></li>
			</ul>
		</div>
	</div>
</div>