<div id="footer">
	<div class="row">
		<div class="col-2">
			<h3>Products</h3>
			<ul>
				<li><a href="/products/liveoptimizer/">LiveOptimizer</a></li>
				<li><a href="/products/liveshots/">LiveShots</a></li>
				<li><a href="/products/countdown-timer/">Countdown Timer</a></li>
			</ul>
		</div>
		<div class="col-2">
			<h3>Services</h3>
			<ul>
				<li><a href="/services/">Email Media</a></li>
				<li><a href="http://liveoptimizer.adstack.com/api/documentation/">API</a></li>
			</ul>
		</div>
		<section class="clear"></section>
		<div class="col-2">
			<h3>Company</h3>
			<ul>
				<li><a href="/about/">About</a></li>
				<li><a href="/blog/">Blog</a></li>
			</ul>
		</div>
		<div class="col-2">
			<h3>Opportunities</h3>
			<ul>
				<li><a href="/careers/">Careers</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</div>
		<div class="col-2">
			<h3>Legal</h3>
			<ul>
				<li><a href="/tos/">Terms</a></li>
				<li><a href="/privacy/">Privacy</a></li>
			</ul>
		</div>
		<div class="col-2">
			<h3>Social</h3>
			<ul>
				<li><a href="http://www.twitter.com/adstackinc"><i class="icon-twitter"></i>Twitter</a></li>
				<li><a href="http://www.facebook.com/adstackinc"><i class="icon-facebook"></i>Facebook</a></li>
			</ul>
		</div>
	</div>
</div>