<head>
	<!--
		    ___       _______ __             __  
		   /   | ____/ / ___// /_____ ______/ /__
		  / /| |/ __  /\__ \/ __/ __ `/ ___/ //_/
		 / ___ / /_/ /___/ / /_/ /_/ / /__/ ,<   
		/_/  |_\__,_//____/\__/\__,_/\___/_/|_|  
		                                         
		=======================================
		
		The full source code for this website is hosted on GitHub:
		http://github.com/AdStack/adstack.com
	-->
	<meta charset="utf-8">
	<title>{% if page.title != 'AdStack' %}{{ page.title }} | AdStack{% else %}{{ page.title }} | Email Optimization Platform{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/dist/base.css">
	<link rel="dns-prefetch" href="//mixpanel.com">
	<link rel="dns-prefetch" href="//google-analytics.com">
	<!--<link rel="icon" type="image/png" href="/media/favicon.png">-->
</head>