<div id="header"{% if page.title == 'AdStack' %} class="home"{% endif %}>
	<div class="row">
		<h1 class="col-12">
			<a href="/" id="logo">AdStack</a>
			<span class="button clear signup">Sign Up</span>
			<a href="https://app.adstack.com/" class="button clear login"><i class="icon-key"></i>Log In</a>
		</h1>
		{% if page.title != 'AdStack' %}
		<hr>
		<div class="nav">
			<div class="col-2">
				<span class="link dropdown">
					Products<i class="icon-"></i>
					<a href="/products/liveoptimizer/">LiveOptimizer</a>
					<a href="/products/liveshots/">LiveShots</a>
					<a href="/products/countdown-timer/">Countdown Timer</a>
				</span>
			</div>
			<!--
			<div class="col-2">
				<a href="/products/liveoptimizer/"{% if page.title == 'LiveOptimizer' %} class="current"{% endif %}>Product</a>
			</div>
			-->
			<div class="col-2">
				<a href="/services/"{% if page.title == 'Email Media Services' %} class="current"{% endif %}>Services</a>
			</div>
			<div class="col-2">
				<a href="/about/"{% if page.title == 'About Us' %} class="current"{% endif %}>About</a>
			</div>
			<div class="col-2">
				<a href="/careers/"{% if page.title == 'Careers' %} class="current"{% endif %}>Careers</a>
			</div>
			<div class="col-2">
				<a href="/blog/"{% if page.title == 'Company Blog' %} class="current"{% endif %}>Blog</a>
			</div>
			<div class="col-2">
				<a href="/contact/"{% if page.title == 'Contact' %} class="current"{% endif %}>Contact</a>
			</div>
		</div>
		{% endif %}
	</div>
</div>
