<head>
	<meta charset="utf-8">
	<title>{% if page.title != 'AdStack' %}{{ page.title }} | AdStack{% else %}{{ page.title }} | Email Optimization Platform{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/dist/base.css">
	<!--<link rel="stylesheet" type="text/css" href="/dist/mobile.css" media="screen and (max-width: 800px)">
	<link rel="icon" type="image/png" href="/media/favicon.png">-->
</head>