<div id="header">
	<div class="row">
		<h1 class="col-12">
			<a href="/" id="logo">AdStack</a>
			<a href="#" class="button clear signup">Sign Up</a>
			<a href="https://app.adstack.com/" class="button clear login"><i class="icon-key"></i>Log In</a>
		</h1>
		<hr>
		<div class="nav">
			<!--<div class="col-2">
				<span class="link dropdown">
					Products<i class="icon-"></i>
					<a href="/products/liveoptimizer/">LiveOptimizer</a>
					<a href="/products/emaildsp/">EmailDSP</a>
				</span>
			</div>-->
			<div class="col-2">
				<a href="/products/liveoptimizer/">Product</a>
			</div>
			<div class="col-2">
				<a href="/pricing-and-plans/">Pricing</a>
			</div>
			<div class="col-2">
				<a href="/about/">About</a>
			</div>
			<div class="col-2">
				<a href="/careers/">Careers</a>
			</div>
			<div class="col-2">
				<a href="/blog/">Blog</a>
			</div>
			<div class="col-2">
				<a href="/contact/">Contact</a>
			</div>
		</div>
	</div>
</div>
