<div id="header">
	<div class="row">
		<h1 class="col-12">
			AdStack
			<a href="#" class="button clear">Signup</a>
			<a href="#" class="button yellow"><i class="icon-key"></i>Login</a>
		</h1>
		<hr>
		<div class="col-2">
			<a href="#">Products</a>
		</div>
		<div class="col-2">
			<a href="#">How It Works</a>
		</div>
		<div class="col-2">
			<a href="#">Pricing</a>
		</div>
		<div class="col-2">
			<a href="#">About</a>
		</div>
		<div class="col-2">
			<a href="#">Contact</a>
		</div>
	</div>
	{% if page.title == 'AdStack' %}
	<div class="row" id="line">
		<h2>Automatic, data-driven<br>marketing optimization</h2>
		<a href="#" class="button yellow cta">Sign up for free<i class="icon-arrow-right"></i></a>
		<div class="line-container x">
			<div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div>
			<div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div>
			<div class="line"></div><div class="line"></div>
		</div>
		<div class="line-container y">
			<div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div>
			<div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div>
			<div class="line"></div><div class="line"></div>
		</div>
	</div>
	{% endif %}
</div>