<head>
	<!--
		   ___     ________           __  
		  / _ |___/ / __/ /____ _____/ /__
		 / __ / _  /\ \/ __/ _ `/ __/  '_/
		/_/ |_\_,_/___/\__/\_,_/\__/_/\_\ 

		=================================

		This site and its source code is hosted on GitHub:
		http://github.com/AdStack/adstack.github.io

		You want to stack some ads? We're hiring!
		http://adstack.com/careers/
	-->
	<meta charset="utf-8">
	<title>{% if page.title != 'AdStack' %}{{ page.title }} | AdStack{% else %}{{ page.title }} | Email Optimization Platform{% endif %}</title>
	<meta name="description" content="AdStack is a real-time advertising optimization platform that uses quantitative techniques to automatically optimize and manage digital marketing campaigns for agencies, publishers and advertisers.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/dist/base.css">
	<link rel="icon" type="image/png" href="/media/favicon.png">
	<link rel="apple-touch-icon" href="/media/touch_icon_57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/media/touch_icon_72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/media/touch_icon_114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/media/touch_icon_144.png">
</head>