<!-- javascript includes -->
<script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
<script>typeof $=='undefined' && document.write('<script src="/dist/zepto.min.js"><\/script>')</script>
<script src="/dist/adstack.min.js"></script>

<!-- segment.io analytics -->
<script type="text/javascript">
var analytics=analytics||[],i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias"];
if(document.domain && !document.domain.match('localhost')){
	analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
	analytics.load("urzkvw8wfx");
}else{for(var z=0;z<i.length;z++)analytics[i[z]]=function(e){console.log(e)}}
</script>