<script type="text/html" id="signup-form">
	<div class="signup-form">
		<label for="email-address">From</label>
		<input type="text" id="email-address" placeholder="your@email.com">
		<hr>
		<label for="subject-line">Subject</label>
		<input type="text" id="subject-line" placeholder="Subject" value="Getting Started">
		<hr>
		<textarea placeholder="Insert your introduction here">Hello Brian Hanna,

I would like to start maximizing returns on my marketing emails. My website is located at http://____.com. How do we proceed?

Regards,
Your Name</textarea>
		<div class="action">
			<span class="button blue send">Send</span>
			<span class="button grey cancel">Cancel</span>
		</div>
	</div>
</script>