<script type="text/html" id="signup-form">
	<form class="signup-form" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
		<input type="hidden" value="00DG0000000C2jM" name="oid">
		<input type="hidden" value="http://www.adstack.com/thanks/" name="retURL">
		<input type="hidden" value="Web" name="lead_source">
		<input type="hidden" name="first_name">
		<input type="hidden" name="last_name">
		<label for="name">Name: <span>*</span></label>
		<input type="text" id="name" name="name" placeholder="Your name">
		<hr>
		<label for="email-address">Email: <span>*</span></label>
		<input type="text" id="email-address" name="email" placeholder="your@email.com">
		<hr>
		<label for="subject-line">Company: <span>*</span></label>
		<input type="text" id="subject-line" name="company" placeholder="Company name">
		<hr>
		<label for="phone">Phone:</label>
		<input type="text" id="phone" name="phone" placeholder="Phone number">
		<hr>
		<textarea name="00NG0000008XM9s" placeholder="Insert your introduction here">Hello Kevin Romani,

We would like to maximize returns on our marketing emails. How do we proceed?</textarea>
		<div class="action">
			<p><span>*</span> - required fields</p>
			<span class="button blue send">Send</span>
			<span class="button grey cancel">Cancel</span>
		</div>
	</form>
</script>

<script type="text/html" id="mailto-form">
	<form class="mailto-form" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
		<p>Contact us to get this case study.</p>
		<input type="hidden" value="00DG0000000C2jM" name="oid">
		<input type="hidden" value="http://www.adstack.com/thanks/" name="retURL">
		<input type="hidden" value="Web" name="lead_source">
		<input type="hidden" name="company">
		<label for="email-address">Email: <span>*</span></label>
		<input type="text" id="email-address" name="email" placeholder="your@email.com">
		<hr>
		<div class="action">
			<p><span>*</span> - required fields</p>
			<span class="button blue send">Send</span>
			<span class="button grey cancel">Cancel</span>
		</div>
	</form>
</script>